$color-primary: #80b636;
$color-negative: #e3524f;

$color-grey-100: #1f1f1f; 
$color-grey-80: #4c4c4c; 
$color-grey-60: #797979; 
$color-grey-40: #a5a5a5; 
$color-grey-20: #d2d2d2; 
$color-grey-10: #e8e8e8; 
$color-grey-5: #f4f4f4;